<h3 class="page-heading">Extra Fields Needed For This Plugin</h3>

<div class="gf-form-group">
    <div class="gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-12">Astarte URL</span>
            <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.server' placeholder="Astarte URL"></input>
            <info-popover mode="right-absolute">
                <p>Insert Astarte AppEngine API base URL here.</p>
            </info-popover>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-12">Realm</span>
            <input class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.realm' placeholder="Realm"></input>
            <info-popover mode="right-absolute">
                <p>Insert the realm name here.</p>
            </info-popover>
        </div>
    </div>
    <div class="gf-form-inline">
        <div class="gf-form" style="align-items: baseline">
            <span class="gf-form-label width-12">Authentication Token</span>
            <textarea rows="10" class="gf-form-input width-30" type="text" ng-model='ctrl.current.jsonData.token' placeholder="Token"></textarea>
            <info-popover mode="right-absolute">
                <p>The authentication token is needed to access your data in Astarte.</p>
            </info-popover>
        </div>
    </div>
</div>
