<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-9">Device ID</label>
        <input type="text" class="gf-form-input" ng-model="ctrl.target.deviceid" placeholder="{device-id}" ng-change="ctrl.refreshMetricData();ctrl.queryDevice()" />
      </div>
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-9">Interface</label>
        <div class="select-editable">
            <select onchange="this.nextElementSibling.value=this.value" ng-model="ctrl.target.interface" ng-change="ctrl.refreshMetricData()">
                <option value=""></option>
                <option ng-repeat="interface in ctrl.target.availableInterfaces" value="{{interface.name}}">{{interface.name}}</option>
            </select>
            <input type="text" class="gf-form-input" ng-model="ctrl.target.interface" placeholder="{interface}" ng-change="ctrl.refreshMetricData()" />
        </div>
      </div>
      <div class="gf-form">
        <label class="gf-form-label query-keyword width-9">Path</label>
        <input type="text" class="gf-form-input" ng-model="ctrl.target.path" placeholder="{path}" ng-change="ctrl.refreshMetricData()" />
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>
  </div>
</query-editor-row>
